.key { color: #d14; }
.string { color: #008000; }
.number { color: #1e90ff; }
.boolean { color: #ff6347; }
.array { color: #800080; }
.null,.braces { color: #9b9b9b; }
.error-info {
    color: red;
}
.format-json {
    
}