.table-format {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.table-format, 
.table-format th, 
.table-format td {
    border: 1px solid #ddd;
}
.table-format th, .table-format td {
    padding: 10px;
    text-align: left;
}
.table-format th {
    background-color: #f4f4f4;
}
th:first-child, td:first-child {
    width: 21vw; /* Set the width for the first column */
}
th:nth-child(3), td:nth-child(3) {
    width: 7vw; /* Set the width for the first column */
}
 /* Responsive Styles */
 @media (max-width: 1200px) {
    th:first-child, td:first-child {
        width: 15vw;
    }
    th:nth-child(3), td:nth-child(3) {
        width: 7vw;
    }
  }
  
  @media (max-width: 900px) {
    th:first-child, td:first-child {
        width: 45vw;
    }
    th:nth-child(3), td:nth-child(3) {
        width: 7vw;
    }
  }
  
  @media (max-width: 600px) {
    th:first-child, td:first-child {
        width: 35vw;
    }
    th:nth-child(3), td:nth-child(3) {
        width: 7vw;
    }
  }
.copy-btn, .limit-info {
    background-color: transparent;
    color: rgb(100, 149, 237);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.limit-info {
  font-size: 14px;
  font-weight: bolder;
}
.copy-btn:hover:after {
    color: #45a049;
    content: "copy";
   font-size: 10px;
   font-weight: 100;
   color: #6495ED;
}

.limit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .limit-container button {
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    background-color: #03A9F4;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .limit-container button:hover {
    background-color: #039BE5;
  }
  
  .limit-container button[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  .limit-container .key {
    font-size: 16px;
    color: #666;
    margin-right: 10px;
  }
  .key {
    color: tomato;
  }
  
  .limit-container button:last-child {
    background-color: #03A9F4;
  }
  
  .limit-container button:last-child:hover {
    background-color: #039BE5;
  }

  .prev-btn, .next-btn {
    display: none;
  }