# Ignore node_modules directory
node_modules/

# Ignore build and dist directories
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
.editorconfig

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore package manager files
package-lock.json
yarn.lock

# Ignore JSON-Ease specific files
src/styles/main-copy.md

# Ignore coverage reports generated through test cases
.nyc_output
coverage