textarea, .output-area {
    height:600px;
    width: 500px;
    resize: none;
    background-color: white;
    position: relative;
}
:root {
    --base-margin: 2%;
}
details {
    margin-left: calc(var(--base-margin) * var(--level, 1));
}
details > summary {
    cursor: pointer;
    font-weight: bold;
}
details>summary>span {
    cursor: default;
}
details>div{
    cursor: pointer;
    margin-left: calc(var(--base-margin) * var(--level, 4));
}
summary::marker {
    color: blue;
}
.main-section {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    flex-direction: row;
    max-width: 100%;
    margin:0  auto;
    background-color: #6495ED;

    }

    .input-section, .output-section {
    padding: 10px;
    flex: 40%;

    }

    .option-section {
    padding: 10px;
    flex: 10%;
    
    }

    /* Responsive layout - makes a one column-layout instead of a two-column layout */
    @media (max-width: 800px) {
    .input-section, .output-section,.option-section {
        flex: 100%;
        
    }
    
    }
    @media (min-width: 801px) and (max-width: 1235px) {
        .main-section {
            flex-direction: column;  /* Keep sections side by side */
            justify-content: space-around; /* Space out sections evenly */
        }

        .input-section {
            flex: 50%;
        }
        .output-section {
            flex: 50%; /* Adjust width to fit better in the available space */
            /* Slightly more padding for this range */
            margin: 0 auto;
        }
        .option-section {
            flex:10%;
            width: 30%;
            margin: 0 auto;
        }
    }
    @media (max-width: 600px) {
        .main-section {
            flex-direction: column;  /* Keep sections side by side */
            justify-content: space-around; /* Space out sections evenly */
        }

        textarea, code{
            width:450px;
            float: left;
        }
        .output-section {
            width: 430px;
        }
        .option-section {
            flex:10%;
            width: 30%;
            margin: 0 auto;
        }
  
    }
    .copy {
         cursor: pointer; 
         position: absolute;
         right: 5;
         font-size: 30px;
         color: black;
         font-weight: 600;
    }
  
      
    .copy:hover:before {
        content: "copy";
        font-size: 14px;
        font-weight: 100;
        color: #6495ED;
    }