
:root {
    --base-margin: 2%;
}
details {
    margin-left: calc(var(--base-margin) * var(--level, 1));
}
details > summary {
    cursor: pointer;
    font-weight: bold;
}
details>summary>span {
    cursor: default;
}
details>div{
    cursor: pointer;
    margin-left: calc(var(--base-margin) * var(--level, 4));
}
summary::marker {
    color: blue;
}


    /* Responsive layout - makes a one column-layout instead of a two-column layout */
    @media (max-width: 800px) {
    .input-section, .output-section,.option-section {
        flex: 100%;
        
    }
    
    }
    @media (min-width: 801px) and (max-width: 1235px) {
        .main-section {
            flex-direction: column;  /* Keep sections side by side */
            justify-content: space-around; /* Space out sections evenly */
        }

        .input-section {
            flex: 50%;
        }
        .output-section {
            flex: 50%; /* Adjust width to fit better in the available space */
            /* Slightly more padding for this range */
            margin: 0 auto;
        }
        .option-section {
            flex:10%;
            width: 30%;
            margin: 0 auto;
        }
    }
    @media (max-width: 600px) {
        .main-section {
            flex-direction: column;  /* Keep sections side by side */
            justify-content: space-around; /* Space out sections evenly */
        }

        textarea, code{
            width:450px;
            float: left;
        }
        .output-section {
            width: 430px;
        }
        .option-section {
            flex:10%;
            width: 30%;
            margin: 0 auto;
        }
  
    }
