@import './body/main-layout.css';

@import './body/popup.css';

@import './views/validate-view.css';
@import './views/format-view.css';
@import './views/table-view.css';
@import './views/singleline-view.css';
@import './views/tree-view.css';

@import './header/header.css';
@import './io-layout/input-layout.css';
@import './io-layout/options-layout.css';
@import './io-layout/output-layout.css';

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
  }