.option-section > .buttons > button, 
.option-section > .buttons > select,
.option-section > .buttons > .dropdown {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    text-align: center;
}
.option-section >.buttons>select>option{
   color: #6495ED;
}
.option-section >.buttons>select{
    outline: none;
 }

.option-section > .buttons > button:hover { 
    color: #6495ED;
    background-color: white;
    font-weight: 600;
}
.option-section > .buttons > button:active {
    font-weight: 100;
}
.option-section > .buttons > button:disabled {
    cursor: not-allowed;
    color: #6495ED;
    background-color: white;
    font-weight: 600;
}