/* Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    color: #6495ED;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}
.header>div {
    display: flex;
    gap: 20px; /* Optional: Adds space between menu items */
    font-weight: 600;
    text-transform: uppercase;
    font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
    color: black;
}
.header>div>div:hover {
    color: #6495ED;
}
.header>div>div:active {
    cursor:progress ;
    color: white;
}
.header>h2>span {
border-color: black;
}


/* For small screens */
@media (max-width: 800px) {
    header {
        padding: 20px 40px;  /* Further reduce the height on small screens */
    }
}

/* For large screens */
@media (min-width: 1200px) {
    header {
        padding: 30px 60px;  /* Default padding for large screens */
    }
}
